$color-accent:       #2196f3;
$color-white:        #ffffff;
$color-black:        #000000;
$color-dark:         #212121;
$color-gray:         #757575;
$color-light-gray:   #afb1b8;
$color-bg-light:     #f5f4fa;
$color-border:       #ececec;
$color-placeholder:  #c4c4c4;

$color-white-06:     #ffffff99; // 60%
$color-white-30:     #ffffff4d; // 30%
$color-white-10:     #ffffff1a; // 10%
$color-footer-bg:    #2f303a;   // основний фон футера
$color-footer-bg-80: #2f303acc; // 80% 
$color-footer-bg-40: #2f303a66; // 40% 